:root {
    /* Colores Principales */
    --color-principal: #DDA15E;      /* Amarillo mostaza / arena */
    --color-acento: #00878A;         /* Turquesa oscuro (Suscripción/Buscar) */
    --color-llamado-accion: #E65F19; /* Naranja vibrante (Ver más/Paginación) */
    
    /* Fondos y Superficies */
    --color-fondo: #FBF7EE;          /* Blanco crema suave */
    --color-tarjeta: #FFFFFF;        /* Blanco puro para las tarjetas */
    --color-publicidad: #EAE3D2;     /* Gris arena para el banner */
    
    /* Texto */
    --color-texto-oscuro: #262626;   /* Negro carbón para lectura */
    --color-texto-claro: #FFFFFF;    /* Blanco para texto sobre botones */
}
/* Tipografia Josefin Sans  */
.bg-main{
    background-color: var(--color-acento);
}
.color-title{
    color: var(--color-principal);
}
.form-eb {
    width: 300px;
  margin: auto; 
    margin-bottom: 30px;
    
}

.input-eb, .textarea-eb, .button-eb, .select-eb {
    background-color: var(--color-principal);
    width: 100%;
    padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid black;
}
select, button {
    width: 106%;
}
.comentarios-eb {
    border: 1px solid var(--color-principal);
    padding: 10px;
    margin: 10px;
}