:root {
    /* Colores Principales */
    --color-principal: #DDA15E;      /* Amarillo mostaza / arena */
    --color-acento: #00878A;         /* Turquesa oscuro (Suscripción/Buscar) */
    --color-llamado-accion: #E65F19; /* Naranja vibrante (Ver más/Paginación) */
    
    /* Fondos y Superficies */
    --color-fondo: #FBF7EE;          /* Blanco crema suave */
    --color-tarjeta: #FFFFFF;        /* Blanco puro para las tarjetas */
    --color-publicidad: #EAE3D2;     /* Gris arena para el banner */
    
    /* Texto */
    --color-texto-oscuro: #262626;   /* Negro carbón para lectura */
    --color-texto-claro: #FFFFFF;    /* Blanco para texto sobre botones */
}
/* Tipografia Josefin Sans  */

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main.container {
    margin-top: 0 !important;
}

.btn-warning:hover {
    background-color: #fd7e14 !important; 
    border-color: #fd7e14 !important;
    color: white !important; 
}

.transition-button {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}